# Игнорировать временные файлы операционной системы
.DS_Store
UserInterfaceState.xcuserstate
test-vacc-rozental.xcodeproj/project.xcworkspace/xcuserdata/alexandersuprun.xcuserdatad/UserInterfaceState.xcuserstate